<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drs.mes.mapper.mesBase.UserMapper">



    <resultMap id="BaseResultMap" type="com.drs.mes.Pojo.ParamSet">
        <result column="param_name" jdbcType="VARCHAR" property="paramName" />
        <result column="param_value" jdbcType="VARCHAR" property="paramValue" />
        <result column="param_min" jdbcType="VARCHAR" property="paramMin" />
        <result column="param_max" jdbcType="VARCHAR" property="paramMax" />
        <result column="param_type" jdbcType="VARCHAR" property="paramType" />
        <result column="param_desc" jdbcType="VARCHAR" property="paramDesc" />
    </resultMap>
    <!-- 登录 -->
    <select id="userLogin" resultType="com.drs.mes.Pojo.User" >
        select * from user where account = #{account} and password = #{password}
    </select>
    <!--注册用户-->
    <select id="findUserByAccount" resultType="com.drs.mes.Pojo.User">
        select * from user where account =#{account} or mobile =#{mobile} limit 1
    </select>
    <insert id="addUser" parameterType="com.drs.mes.Pojo.User">
        insert into user (account,password,nickname,mobile,addtime,updatetime , userId)
         values (#{account} ,#{password},#{nickname},#{mobile},#{addtime},#{updatetime},#{userId})
    </insert>
    <!-- 修改用户信息 -->
    <update id="updateUser" parameterType="com.drs.mes.Pojo.User">
        update user set nickname = #{nickname}, mobile = #{mobile} , password=#{password} where userId = #{userId}
    </update>
    <!-- 获取用户列表 -->
    <select id="getUserList" resultType="java.util.Map">
        select account,mobile,nickname,userId from user where 1=1
        <if test="searchKey!=null and searchKey!='' and search!=null and search!=''">
            and ${searchKey} like '%${search}%'
        </if>
        order by id desc limit  #{page}, 10
    </select>
    <select id="getUserListTotal" resultType="java.lang.Integer">
        select count(1) from user where 1=1
        <if test="searchKey!=null and searchKey!='' and search!=null and search!=''">
            and ${searchKey} like '%${search}%'
        </if>
    </select>

    <select id="getUserById" resultType="com.drs.mes.Pojo.User">
        select * from user where id = #{id}
    </select>

    <select id="getUserInfo" resultType="java.util.Map">
        select account,mobile,nickname,userId from user where id = #{id}
    </select>

    <select id="getParamList" resultMap="BaseResultMap">
        select * from param_set
    </select>

    <!-- 修改参数设置 -->
    <update id="updateParam" parameterType="com.drs.mes.Pojo.ParamSet">
        update param_set set param_value = #{paramValue} where code = #{code}
    </update>
</mapper>